<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="login">

	<select id="idChk" parameterType="String" resultType="String">
		SELECT MEMBER_ID
		FROM MYMEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="emailChk" parameterType="String" resultType="String">
		SELECT MEMBER_EMAIL
		FROM MYMEMBER
		WHERE MEMBER_EMAIL = #{member_email}
	</select>
	
	

</mapper>