<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.reviewboard">

	<select id="selectList" resultType="ReviewDto">
		SELECT REVIEWBOARD_NO,
		REVIEWBOARD_NAME,REVIEWBOARD_TITLE, REVIEWBOARD_CONTENT,
		REVIEWBOARD_DATE,CLASS_NAME, REVIEWBOARD_TE, REVIEWBOARD_STAR
		FROM
		REVIEWBOARD
				<trim prefix="WHERE" prefixOverrides="AND|OR">

<if test="keyword != null and keyword != '' ">

			<if test="searchType=='reviewboard_title'">

				AND REVIEWBOARD_TITLE like CONCAT('%', #{keyword}, '%')

			</if>

			<if test="searchType=='reviewboard_content'">

				AND REVIEWBOARD_CONTENT like CONCAT('%', #{keyword}, '%')

			</if>

			<if test="searchType=='reviewboard_name'">

				AND REVIEWBOARD_NAME like CONCAT('%', #{keyword}, '%')

			</if>

      </if>

	</trim>



		ORDER BY REVIEWBOARD_NO DESC
	</select>

	<insert id="review_insert" parameterType="ReviewDto">
		INSERT INTO REVIEWBOARD
		VALUES(REVIEWBOARD_SEQ.NEXTVAL,#{member_no},
		#{reviewboard_name},#{reviewboard_title}, #{reviewboard_content},
		SYSDATE, 0,'N', #{class_name}, #{reviewboard_te},
		#{reviewboard_star})
	</insert>


	<select id="review_selectOne" parameterType="int"
		resultType="ReviewDto">
		SELECT REVIEWBOARD_NO,MEMBER_NO, REVIEWBOARD_NAME,
		REVIEWBOARD_TITLE, REVIEWBOARD_CONTENT, REVIEWBOARD_DATE,
		REVIEWBOARD_READCOUNT, REVIEWBOARD_DELFLAG, CLASS_NAME,
		REVIEWBOARD_TE, REVIEWBOARD_STAR
		FROM REVIEWBOARD
		WHERE REVIEWBOARD_NO=
		#{reviewboard_no}
	</select>

	<update id="review_update" parameterType="ReviewDto">
		UPDATE REVIEWBOARD
		SET
		MEMBER_NO=#{member_no},
		REVIEWBOARD_TITLE=#{reviewboard_title},REVIEWBOARD_CONTENT=#{reviewboard_content},CLASS_NAME=#{class_name},REVIEWBOARD_TE=#{reviewboard_te},REVIEWBOARD_STAR=#{reviewboard_star}
		WHERE REVIEWBOARD_NO=#{reviewboard_no}
	</update>

	<delete id="review_delete" parameterType="int">
		DELETE FROM REVIEWBOARD
		WHERE REVIEWBOARD_NO=#{reviewboard_no}
	</delete>
	




	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM REVIEWBOARD
				<trim prefix="WHERE" prefixOverrides="AND|OR">

<if test="keyword != null and keyword != '' ">

			<if test="searchType=='reviewboard_title'">

				AND REVIEWBOARD_TITLE like CONCAT('%', #{keyword}, '%')

			</if>

			<if test="searchType=='reviewboard_content'">

				AND REVIEWBOARD_CONTENT like CONCAT('%', #{keyword}, '%')

			</if>

			<if test="searchType=='reviewboard_name'">

				AND REVIEWBOARD_NAME like CONCAT('%', #{keyword}, '%')

			</if>

      </if>

	</trim>




	</select>

	<select id="selectBoard" resultType="ReviewDto">
		SELECT * 
			FROM (
				SELECT ROWNUM RN, A.* 
					FROM (
							SELECT * 
							FROM REVIEWBOARD 
							ORDER BY REVIEWBOARD_NO DESC 
							) A
					)
		WHERE RN BETWEEN #{start} AND #{end}
	</select>





</mapper>