<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 새로운 값을 넣을 때에는 위로 쌓기!! 꼭 지켜주세요!!!! -->
	
	<typeAliases>
		<typeAlias type="com.power.bean.dto.ReviewDto" alias="ReviewDto"/>
	</typeAliases>

	<!-- resource: src/main/resources -->
	<mappers>
		<mapper resource="/mybatis/review-mapper.xml" />
	</mappers>

</configuration>